{% extends 'layoute/base.html' %}
{% block body %}
    {% include 'components/nav.html' %}
    <header class="site-header d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="text-center mb-5 pb-2">
                    <h1 class="text-white">Now model3D</h1>
                    <p class="text-white">{{ user.pseudo }}</p>
                </div>
            </div>
        </div>
    </header>
    <section class="contact-section section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <div class="section-title-wrap mb-5">
                        <h4 class="section-title">Create new model 3d</h4>
                    </div>
                    <form action="#" method="post" class="custom-form contact-form" role="form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-floating">
                                    <input type="text" name="label" id="label" class="form-control" placeholder="Label" required="">
                                    <label for="label">Label</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-floating">
                                    <input type="text" name="image_path" id="image_path" class="form-control" placeholder="Lien de l'image" required="">
                                    <label for="image_path">Image Path</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" id="describe" name="describe" placeholder="Describe message here"></textarea>
                                    <label for="describe">Describe message here</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 ms-auto">
                                <button type="submit" class="form-control">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% include 'components/footer.html' %}
{% endblock %}